@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
    themes: light --default, dark --prefersdark, cupcake, dim, coffee;
}
@theme {
    --font-hind: "Hind Siliguri", sans-serif;
}
/* .active {
    color: green;
    font-weight: 600;
} */
