@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
    themes: light --default, dark --prefersdark, cupcake, dim, coffee;
}
@theme {
    --font-hind: "Hind Siliguri", sans-serif;
}
.title {
    @apply bg-gradient-to-r from-green-800 to-green-400 bg-clip-text text-transparent;
}
.subtitle {
    @apply opacity-70;
}
.active {
    font-weight: 900;
    color: rgb(63, 220, 63);
}
